.action-button-container button {
    background: rgb(0, 188, 212);
    outline: none;
    border: 1px solid #fff;
    padding: 6px;
    color: #fff;
}

.action-button-container button:disabled {
    background: rgb(229, 229, 229);
}

.action-button-container button .fa {
    margin: 0 5px;
}

.action-button-container {
    float: right;
    margin: 10px;
}

.priority-checkbox{
    margin-top: 15px;
    margin-right: 20px;
    float: right;
    word-wrap: break-word;
}

/*For popover*/

.settings-popover {
    top: 40px !important;
}

.checkbox-list {
    list-style-type: none;
    width: 180px;
}

.checkbox-list li {
    display:table;
    margin:0px auto 0px 0px;
}

.checkbox-list li label{
    padding-left: 0px;
}
