.log-container {
	background: #ffffff;
	float: left;
    width: 100%;
    text-align: left;
    padding: 12px 18px;
    margin: 15px 0px;
	border-radius: 6px;
	height: 943px;
	overflow: auto;
}
.logs-header{
	margin-bottom: 0px;
}

.logs-header button {
	background: rgb(0, 188, 212);
	outline: none;
	border: 1px solid #fff;
	padding: 6px;
	color: #fff;
	text-align: right;
}

.logs-header button:hover {
	color: #000;
}

.clear-logs {
	float: right;
    color: #03A9F4 !important;
	text-decoration: underline;
	cursor: pointer;
	margin: 0 !important;
	margin-right: 20px !important;
}

.message-content{
	word-break: break-word;
}

.log-container hr{
	margin: 0;
}

/* Define CSS for individual logs */
.srm-text{

}