.message-container{
    text-align: left;
    margin-top: 10px;
    border: 1px solid black;
    width: 35%;
    float: left;
    height: 135px;
    margin-right: 40px;
}
.message-header{
	margin-bottom: 0px;
}
.message-container hr{
	margin: 0;
}
