.message-container{
	  text-align: left;
    border: 1px solid black;
    margin: 15px auto 10px  auto;
    padding-left: 10px;
    width: 25%;
    overflow: scroll;
}
.message-header{
	margin-bottom: 0px;
}
.message-container hr{
	margin: 0;
}
