.signal-panel{
    width: 68%;
    min-height: 210px;
    max-height: 210px;
    background: #fff;
    float: left;
    text-align: left;
    padding: 12px 18px;
    margin: 15px 28px 15px 15px;
    margin-bottom: 0px;
    border-radius: 6px;

}

.signal-header{
  margin-bottom: 15px;
}

.signal-panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 5px;
}

.signal {
  float: left;
  width: 78%;
  /* border:1px solid #ccc; */
  margin: 4px;
  margin-top: -64px;
  padding: 4px 6px;
  padding-left: 35%;
  position: relative;
}

.multi-signal {
  float: left;
  width: 30%;
  height: 53px;
  margin: 4px;
  margin-top: -40px;
  /*padding: 4px 6px;
  padding-left: 20px;*/
  position: relative;
}

.signal button {
    background: rgb(0, 188, 212);
    outline: none;
    border: 1px solid #fff;
    padding: 0px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    right: -10px;
}

.signals-checkbox {
  float: right;
  margin-top: 0px;
}

.menu_header{
  /*top: 255px !important;
  left: 394px !important; */
  /*width: 180px;*/
  height: 94px;
}
