.signal-panel{
    width: 70%;
    height: 185px;
    background: #fff;
    float: left;
    text-align: left;
    padding: 12px 18px;
    margin: 15px;
    border-radius: 6px;

}

.signal-panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 5px;
}

.signal {
  float: left;
  border:1px solid #ccc;
  margin: 4px;
  padding: 4px 6px;
  position: relative;
}

.signal button {
    background: rgb(0, 188, 212);
    outline: none;
    border: 1px solid #fff;
    padding: 0px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    right: -10px;
}

.signals-checkbox {
  float: right;
  margin-top: 0px;
}
