.bus-container{
    width: 25%;
    height: 300px;
    float: left;
    background: #fff;
    text-align: left;
    padding: 12px 18px;
    margin: 15px;
    border-radius: 6px;
}
.bus-header{
	margin-bottom: 0px;
}
.bus-header svg{
	width: 50px;
    height: 30px;
    padding-top: 20px;
}
.bus-container hr{
	margin: 0;
}
.bus-container table tr td{
    padding: 8px;
}
