.bus-container{
	text-align: left;
    float: right;
    border: 1px solid black;
    margin-right: 40px;
    margin-top: 10px;
    padding-left: 10px;
    width: 25%;
}
.bus-header{
	margin-bottom: 0px;
}
.bus-header svg{
	width: 50px;
    height: 30px;
    padding-top: 20px;
}
.bus-container hr{
	margin: 0;
}
