.bus-container{
    width: 23.5%;
    min-height: 210px;
    max-height: 210px;
    float: left;
    background: #fff;
    text-align: left;
    padding: 5px 18px;
    margin: 15px;
    margin-bottom: 0px;
    border-radius: 6px;
}
.bus-header{
	margin-bottom: 0px;
}
.bus-header svg{
	width: 50px;
    height: 30px;
    padding-top: 20px;
}
.bus-container hr{
	margin: 0;
}
.bus-container table tr td{
    padding: 5px;
}
