.bus-container{
	text-align: left;
    float: right;
    border: 1px solid black;
    margin-right: 15px;
    margin-top: 5px;
    padding-left: 10px;
    width: 25%;
}
.bus-header{
	margin-bottom: 0px;
}
.bus-container hr{
	margin: 0;
}
