body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f3f3f3;
}
div.gm-style-iw  + div {
  display:none;
}
.main-page{
  width: 100%;
  height: calc(100% - 61px);
}
.left-panel{
  width: 75%;
  float: left;
}
.right-panel{
  width: 25%;
  float: right;
}

.top-panel {
  height: 200px;
}

.bottom-panel {
  height: 70%;
}
